@*@model int

<div style="width:200px;">
    <center>
        <div class="btn-group" role="group">
            <a type="button" class="btn btn-danger" href="@Url.Action("EditStudent/"+Model)">Transaction</a>
            <a type="button" class="btn btn-danger" href="@Url.Action("PayDue/"+Model)">PayDue</a>
        </div>
    </center>
   
</div>*@