@model CAC_Management.Models.Admin
@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutForAdmin";
}

<body style="background-color: #309369;align-content: center;">
    <h1><center><strong>
        </br>
    Welcome to the Admin Panel.You Have all the Access.</br>

    Thank You.
</strong> </center></h1>
</body>