@{
    ViewData["Title"] = "";
}
<h2>@ViewData[""]</h2>
<h3>@ViewData[""]</h3>
<h2 style="text-align:center"><strong>About Our coaching </strong></h2>

<br />
<br />
<br />
<div style="height:500px;" class="item">
    <img src="~/images/IMG_20191121_162433.jpg" class="img-responsive" />
</div>

<h2 style="text-align:center"><strong> </strong></h2>