
<h2>@ViewData[""]</h2>
<h3>@ViewData[""]</h3>
<body style="background-color: #309369;align-content: center;">
    <h2 style="text-align:center"><strong>Contact with Us</strong></h2>
    @*<h2 style="text-align:center"><strong>-</strong></h2>*@
    
    <div class="container">

        <div class="panel-body">
            <div style="max-width:600px; margin:0 auto">
                <form action="" method="POST">
                    <div class="form-group">
                        <label for="name">Your Name </label>
                        <input class="form-control" type="text" id="name" name="name" required="" />

                    </div>


                    <div class="form-group">
                        <label for="email"> Email Address </label>
                        <input class="form-control" type="email" id="email" name="email" required="" />

                    </div>

                    <div class="form-group">
                        <label for="password"> Message </label>
                        <input class="form-control" style="height:100px;" type="text" id="text" name="message" required="" />

                    </div>
                    <button type="submit" name="register" class="btn btn-success button">Submit</button>

                </form>
            </div>
            </br>
            </br>
            </br>

            <address>
                <h2 style="text-align:center"><strong>Address</strong></h2>
                <h3 style="text-align:center">

                    Kha-48(2nd floor) Battala<br />
                    Khilkhet, Dhaka-1229<br />
                    Office : 01303132459
                </h3>

            </address>

            <address>
                <strong>Follow Us Facebook:</strong> <a target="_blank" href="https://www.facebook.com/Creative-Academic-Care-103912274322641/">Creative Academic Care</a><br />
                <strong>Email:</strong> <a target="_blank" href="https://www.gmail.com">Creative Academic Care</a>
            </address>
        </div>
</body>