@{
    ViewData["Title"] = "Home Page";
}
<body style="padding-top: 0px;">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div style="height:500px;" class="item active">
                <img  src="~/images/IMG_20191121_162343.jpg" class="img-responsive" />
            </div>
            <div style="height:500px;" class="item">
                <img  src="~/images/IMG_20191121_162431.jpg" class="img-responsive" />
            </div>
            <div style="height:500px;" class="item">
                <img src="~/images/IMG_20191121_162433.jpg" class="img-responsive" />
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <br />
    <br />

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="panel-primary" style="height: auto">
                    <div class="panel-heading">
                        <i class="fa fa-spinner fa-spin"></i> &nbsp; <strong>Founder's Speech </strong>
                    </div>
                    <div class="panel-body" style="border: 1px solid;">

                        We are here to provie you the best Teaching.Our main motto is to make you productive as the need of time. <br />
                        Come for learnig, leave for teaching.
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="panel panel-primary" style="height: auto">
                    <!-- Notice Board Start-->
                    <div class="panel-heading">
                        <i class="fa fa-spinner fa-spin"></i> &nbsp; Notice
                    </div>

                    <div class="panel-body">
                        <marquee direction="up" onmouseout="this.setAttribute('scrollamount', 2, 0);" onmouseover="this.setAttribute('scrollamount', 0, 0);" scrollamount="3">

                            <table width="345" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tbody>
                                    <tr>
                                        <td width="67" rowspan="2" valign="middle">

                                            <div class="calendar-small">
                                                <span class="s-month">Dec</span>
                                                <span style="margin-left:22px; font-weight:bold; font-size:24px">  06</span>

                                            </div>

                                        </td>
                                        <td width="283">

                                            <div class="event-small-details">
                                                <h5 class="event-small-title"><a href="#"> Your Model Test-2 Will Not Be Held Due To Some Unavoidable Cercamastences</a></h5>
                                                <p class="event-small-meta small-text">&nbsp;</p>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                            <table width="345" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tbody>
                                    <tr>
                                        <td width="67" rowspan="2" valign="middle">

                                            <div class="calendar-small">
                                                <span class="s-month">Dec</span>
                                                <span style="margin-left:22px; font-weight:bold; font-size:24px">  10</span>

                                            </div>
                                        </td>
                                        <td width="283">

                                            <div class="event-small-details">
                                                <h5 class="event-small-title"><a href="#">10 th November is govt. Holiday that's why no class will be held.</a></h5>
                                                <p class="event-small-meta small-text">&nbsp;</p>
                                            </div>

                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                            <table width="345" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tbody>
                                    <tr>
                                        <td width="67" rowspan="2" valign="middle">

                                            <div class="calendar-small">
                                                <span class="s-month">Dec</span>
                                                <span style="margin-left:22px; font-weight:bold; font-size:24px">  11</span>

                                            </div>

                                        </td>
                                        <td width="283">

                                            <div class="event-small-details">
                                                <h5 class="event-small-title"><a href="#">Model test exam will be held from 11th November.</a></h5>
                                                <p class="event-small-meta small-text">&nbsp;</p>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>


                            <table width="345" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tbody>
                                    <tr>
                                        <td width="67" rowspan="2" valign="middle">

                                            <div class="calendar-small">
                                                <span class="s-month">Jan</span>
                                                <span style="margin-left:22px; font-weight:bold; font-size:24px">  15</span>
                                            </div>

                                        </td>
                                        <td width="283">
                                            <div class="event-small-details">
                                                <h5 class="event-small-title"><a href="#">We are plaing for a tour. Contact: 01794591853</a></h5>
                                                <p class="event-small-meta small-text">&nbsp;</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <table width="345" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tbody>
                                    <tr>
                                        <td width="67" rowspan="2" valign="middle">

                                            <div class="calendar-small">
                                                <span class="s-month">Feb</span>
                                                <span style="margin-left:22px; font-weight:bold; font-size:24px">  15</span>
                                            </div>

                                        </td>
                                        <td width="283">
                                            <div class="event-small-details">
                                                <h5 class="event-small-title"><a href="#">HSC Exam will be start from April 2</a></h5>
                                                <p class="event-small-meta small-text">&nbsp;</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </marquee>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>