@model CAC_Management.Models.Teacher
@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutForTeacher";
}
<body style="background-color: #309369;align-content: center;">
    <h1 style="text-align: center;font-family: 'Times New Roman', Times, serif">WELCOME TO TEACHER PAGE</h1>
    <br />
    <br />
    <h2>@ViewBag.t_id</h2>
    <p>
        <h2 style="text-align: center;font-family: 'Times New Roman', Times, serif">
            You Can See The Teacher Panel If You have Any Account Otherwise You Have To Contact With The Administration.<br>
            Thank You.
        </h2>
    </p>
    </body>
