@model CAC_Management.Models.Teacher

@{
    ViewData["Title"] = "Teacher Details";
    Layout = "_LayoutForTeacher";
}
<hr>

<h1 style="text-align:center">Teacher Details</h1>

<div class="container" style="width: 20%;">
    <div class="form-group">
        <div class="input-group-addon">
            <form asp-controller="Teacher" asp-action="Search">
                <input placeholder="Search By Id" class="form-control" name="id" />
                <a asp-controller="Teacher" asp-action="Search" asp-route-id="id"><input type="submit" value="Search" /></a>
            </form>
        </div>
    </div>
</div>
