@model CAC_Management.Models.Student
@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutForStudent";
}

<body style="background-color: #309369;align-content: center;">
    <h1 style="text-align: center;font-family: 'Times New Roman', Times, serif">WELCOME TO STUDENT PAGE</h1>
    <br />
    <br />

    <p>
        <h2 style="text-align: center;font-family: 'Times New Roman', Times, serif">
            You Can See The Student Panel If You have Any Account Otherwise You Have To Contact With The Administration.<br>
            Thank You.
        </h2>
    </p>
    </body>