@model List<CAC_Management.Models.Student>
@{
    ViewData["Title"] = "Student Information";
    Layout = "_LayoutForStudent";
}

<h1 style="text-align:center">Student Information</h1>

<div class="container" style="width: 20%;">
    <div class="form-group">
        <div class="input-group-addon">
            <form asp-controller="Student" asp-action="Search">
                <input placeholder="Search By Id" class="form-control" name="id" />
                <a asp-controller="Student" asp-action="Search" asp-route-id="id"><input type="submit" value="Search" /></a>
            </form>
        </div>
    </div>
</div>
